*.mod
*.mod.c
*.o
*.o.cmd
*.ko
*.ko.cmd

Module.symvers
modules.builtin
modules.order
/out

rpm/SPECS
rpm/SOURCES
rpm/BUILD
rpm/BUILDROOT
rpm/RPMS
rpm/SRPMS
rpm/sysak.spec

config-host.mak
source/tools/monitor/mservice/master/modules/mod_apache.d
source/tools/monitor/mservice/master/modules/mod_cpu.d
source/tools/monitor/mservice/master/modules/mod_load.d
source/tools/monitor/mservice/master/modules/mod_ncpu.d
source/tools/monitor/mservice/master/modules/mod_nginx.d
source/tools/monitor/mservice/master/modules/mod_partition.d
source/tools/monitor/mservice/master/modules/mod_swap.d
source/tools/monitor/mservice/master/modules/mod_tcp.d
source/tools/monitor/mservice/master/src/common.d
source/tools/monitor/mservice/master/src/config.d
source/tools/monitor/mservice/master/src/debug.d
source/tools/monitor/mservice/master/src/framework.d
source/tools/monitor/mservice/master/src/mservice
source/tools/monitor/mservice/master/src/output_nagios.d
source/tools/monitor/mservice/master/src/output_print.d
source/tools/monitor/mservice/master/src/output_tcp.d

